<section class="resume" id="resume">
    <div class="container__resume">
        <div class="title">
            <h3>Resume | Sam Dillenburg</h3>  
        </div>

        <div class="skills">
            <h3 class="skills__title">KEY SKILLS</h3>
            <div class="container__skills">
                <div class="skillbar">
                    <h4 class="skillbar__title skillbar__title--html">HTML</h4>
                    <div class="skillbar__progbar">
                        <div class="skillbar__progbar--html"></div>
                    </div>
                </div>
                <div class="skillbar">
                    <h4 class="skillbar__title skillbar__title--css">CSS</h4>
                    <div class="skillbar__progbar">
                        <div class="skillbar__progbar--css"></div>
                    </div>
                </div>
                <div class="skillbar-html">
                    <h4 class="skillbar__title skillbar__title--javascript">JavaScript</h4>
                    <div class="skillbar__progbar">
                        <div class="skillbar__progbar--javascript"></div>
                    </div>
                </div>
                <div class="skillbar">
                    <h4 class="skillbar__title skillbar__title--react">ReactJS</h4>
                    <div class="skillbar__progbar">
                        <div class="skillbar__progbar--react"></div>
                    </div>
                </div>
                <div class="skillbar">
                    <h4 class="skillbar__title skillbar__title--wordpress">Wordpress</h4>
                    <div class="skillbar__progbar">
                        <div class="skillbar__progbar--wordpress"></div>
                    </div>
                </div>
                <div class="skillbar">
                    <h4 class="skillbar__title skillbar__title--liquid">Liquid</h4>
                    <div class="skillbar__progbar">
                        <div class="skillbar__progbar--liquid"></div>
                    </div>
                </div>
                <div class="skillbar">
                    <h4 class="skillbar__title skillbar__title--git">Git</h4>
                    <div class="skillbar__progbar">
                        <div class="skillbar__progbar--git"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="motivation">
            <h3 class="motivation__title">EDUCATION</h3>
            <div class="container__motivation">
                <div class="scrimba__icon">
                    <span class="iconify" data-icon="simple-icons:scrimba" style="color: #16e0bd;" data-width="50" data-height="50"></span>
                </div>
                <p class="scrimba__body">Scrimba "Frontend Career Path" Graduate (December 2021) <br><a href="#">Bootcamp Certificate</a></p>
            </div>
        </div>
        <div class="container__html">
            <i class="fab fa-html5 fa-7x html__icon"></i>
            <h3 class="html__title">HTML</h3>
            <div class="html__body">
                <div class="html__body--content">
                    <p>Portfolio Page combined with the JAMstack: 
                        <a href="https://github.com/hackbraten68/portfolio-page-with-blog" class="html__body--link--github">github</a> |
                        <a href="https://this-is-sam.netlify.app/" class="html__body--link--netlify">netlify</a>
                    </p>
                </div>
                <div class="html__body--content">
                    <p>Simple Intro Page with some CSS Features: 
                        <a href="https://github.com/hackbraten68/simple-intro-page" class="html__body--link--github">github</a> |
                        <a href="https://hackbraten68.github.io/simple-intro-page/" class="html__body--link--netlify">live</a>
                    </p>
                </div>
                <div class="html__body--content">
                    <p>UI/UX User Menu App: 
                        <a href="https://github.com/hackbraten68/ui-ux-menu-app" class="html__body--link--github">github</a> |
                        <a href="https://hackbraten68.github.io/ui-ux-menu-app/" class="html__body--link--netlify">live</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container__css">
            <i class="fab fa-css3-alt fa-7x css__icon"></i>
            <h3 class="css__title">CSS</h3>
            <div class="css__body">
                <div class="css__body--content">
                    <p>BBQ Landing Page with Email Collector: 
                        <a href="https://github.com/hackbraten68/bbq-landing-page" class="css__body--link--github">github</a> |
                        <a href="https://hackbraten68.github.io/bbq-landing-page/" class="css__body--link--netlify">live</a>
                    </p>
                </div>
                <div class="css__body--content">
                    <p>Minimalistic Photographer Landing Page: 
                        <a href="https://github.com/hackbraten68/daniel-fotoblog" class="css__body--link--github">github</a> |
                        <a href="https://dazzling-daniel.netlify.app/" class="css__body--link--netlify">netlify</a>
                    </p>
                </div>
                <div class="css__body--content">
                    <p>Responsive Portfolio Website: 
                        <a href="https://github.com/hackbraten68/responsive-portfolio-page" class="css__body--link--github">github</a> |
                        <a href="https://nifty-murdock.netlify.app/" class="css__body--link--netlify">netlify</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container__javascript">
            <i class="fab fa-js fa-7x javascript__icon"></i>
            <h3 class="javascript__title">JavaScript</h3>
            <div class="javascript__body">
                <div class="javascript__body--content">
                    <p>Momentum Clone for Chrome Web Extension: 
                        <a href="https://github.com/hackbraten68/momentum-clone-chrome-web-extension-g" class="javascript__body--link--github">github</a> |
                        <a href="https://hackbraten68.github.io/momentum-clone-chrome-web-extension-/" class="javascript__body--link--netlify">live</a>
                    </p>
                </div>
                <div class="javascript__body--content">
                    <p>Pacman Video Game Clone in VanillaJS: 
                        <a href="https://github.com/hackbraten68/Pacman-Challenge" class="javascript__body--link--github">github</a> |
                        <a href="https://pacman-challenge.netlify.app/" class="javascript__body--link--netlify">netlify</a>
                    </p>
                </div>
                <div class="javascript__body--content">
                    <p>Netflix Clone in ReactJS: 
                        <a href="#" class="javascript__body--link--github">github</a> |
                        <a href="#" class="javascript__body--link--netlify">live</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container__wordpress">
            <i class="fab fa-wordpress fa-7x wordpress__icon"></i>
            <h3 class="wordpress__title">Wordpress</h3>
            <div class="wordpress__body">
                <div class="wordpress__body--content">
                    <p>Indie Record Label WooCommerce Shop: 
                        <a href="https://quixote-music.com/" class="wordpress__body--link--netlify">live</a>
                    </p>
                </div>
                <div class="wordpress__body--content">
                    <p>Web Precense of local Gardening Shop | SEO optimized: 
                        <a href="https://blumen-emmerich.de/" class="wordpress__body--link--netlify">live</a>
                    </p>
                </div>
                <div class="wordpress__body--content">
                    <p>Model Sedcard Website with Mosaic Galleries: 
                        <a href="http://beatrice-bratulic.de/" class="wordpress__body--link--netlify">live</a>
                    </p>
                </div>
            </div>
        </div>
      </div>
</section>