---
layout: "base_blog.njk"
---

<article class="main-article">
<div class="container container--narrow flow">
  
    <h2 class="article-title">{{ title }}</h2>
    <img class="main-article__image" src="{{ image }}" alt="{{ imageAlt }}">
    <p class="article-author__meta">by <span>{{ post.data.author }}</span> on <span>{{ post.data.date | postDate }}</span></p>
    <div class="content">
      {{ content | safe }}
    </div>
    

</div>
</article>