<footer class="footer">
            <a href="mailto:sam.studi@gmail.com" class="footer__link">sam.studi@gmail.com</a>
            <ul class="social-list">
                <li class="social-list__item">
                    <a href="https://twitter.com/MosDev__" class="social-list__link">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="https://github.com/hackbraten68" class="social-list__link">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="https://discord.gg/J3fPD72C9v" class="social-list__link">
                        <i class="fab fa-discord fa-2x"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="https://www.linkedin.com/in/samuel-dillenburg-a2b036160/" class="social-list__link">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </li>
            </ul>
        </footer>