<footer class="footer">
            <a href="mailto:hire-me@rootsource.de" class="footer__link">hire-me@rootsource.de</a>
            <ul class="social-list">
                <li class="social-list__item">
                    <a href="https://twitter.com/MosDev__" class="social-list__link">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="https://github.com/hackbraten68" class="social-list__link">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="https://discord.gg/J3fPD72C9v" class="social-list__link">
                        <i class="fab fa-discord fa-2x"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="https://www.linkedin.com/in/samuel-dillenburg-a2b036160/" class="social-list__link">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                </li>
            </ul>
            <p class="currentYear">© {% year %} Sam Dillenburg (all rights reserved)</p>
        </footer>