<header>
    <div class="logo">
        <img src="./img/devsam.png" alt="">
    </div>
    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#blog" class="nav__link">Blog</a></li>
            <li class="nav__item"><a href="#about-me" class="nav__link">About Me</a></li>
            <li class="nav__item"><a href="#projects" class="nav__link">Portfolio</a></li>
        </ul>
    </nav>
</header>