---
title: About Sam
layout: "base.njk"
---

{# pseudocode #}

<section class="resume">

    <div class="container about">
        <h2 class="about__title">About</h2>
        <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aliquam quibusdam repudiandae ut autem natus, commodi fuga et quaerat, consequuntur, voluptate aliquid reiciendis soluta incidunt?</p>
        <img src="./img/samboi.jpg" alt="">
    </div>

    <div class="container exp">
        <div class="col col-left">
            <h3>Experience</h3>
            <p></p>
            <p></p>
            <p></p>            
        </div>

        <div class="col col-right">
            <h3 class="skills"></h3>
            <p>HTML</p>
            <p>CSS</p>
            <p>Javascript</p>
            <p>Wordpress</p>
        </div>

    </div>

</section>
    


container
    col-1
    col-2
    col-3

container
    h1 + text
    col-1
    col-2
    col-3
